/**/.idea/
/**/.venv/
/**/.junie/
/HLS_with_SAS_sim/docs/
/RTS/*
/HWSW/*
!/RTS/**/*.tex
!/RTS/**/*.bib
!/RTS/*.pdf

!/HWSW/**/*.tex
!/HWSW/**/*.bib
!/HWSW/*.pdf

HLS_with_SAS_sim/cmake-build-debug/
HLS_with_SAS_sim/cmake-build-release/
HLS_with_SAS_sim/build/
HLS_with_SAS_sim/main
