/**/.idea/
/**/.venv/
/**/.junie/
/**/.claude/

/HLS_with_SAS_sim/docs/
/RTS/*
/HWSW/*
!/RTS/**/*.tex
!/RTS/**/*.bib
!/RTS/*.pdf
!/RTS/assets/

!/HWSW/**/*.tex
!/HWSW/**/*.bib
!/HWSW/*.pdf
!/HWSW/assets/

HLS_with_SAS_sim/cmake-build-debug/
HLS_with_SAS_sim/cmake-build-release/
HLS_with_SAS_sim/build/
HLS_with_SAS_sim/main
